 .u-section-1 {
  min-height: 723px;
}

.u-section-1 .u-shape-1 {
  height: 374px;
  background-image: linear-gradient(#f2f2f2, #ffea91);
  margin: 350px auto 0 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: -663px auto 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 601px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-text-1 {
  font-family: "Bebas Neue";
  font-size: 6rem;
  font-weight: normal;
  text-transform: none;
  margin: 6px -30px 0 30px;
}

.u-section-1 .u-line-1 {
  width: 456px;
  height: 20px;
  transform-origin: center top 0px;
  margin: 6px auto 0 30px;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  font-family: "Modern Antiqua";
  margin: 17px 84px 0 30px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 601px;
}

.u-section-1 .u-container-layout-2 {
  padding: 17px 0;
}

.u-section-1 .u-image-1 {
  height: 383px;
  width: 595px;
  margin: 0 auto 0 -55px;
}

.u-section-1 .u-btn-1 {
  font-size: 0.9375rem;
  letter-spacing: 1px;
  background-image: linear-gradient(to right, #ffea91, #a5d72c);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: 0 30px 0 auto;
  padding: 0 52px 0 50px;
}

.u-section-1 .u-icon-1 {
  color: rgb(0, 0, 0) !important;
  font-size: 4.2em;
  vertical-align: -11px;
  margin-right: 17px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 618px;
  }

  .u-section-1 .u-shape-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 496px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-line-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 14px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 496px;
  }

  .u-section-1 .u-image-1 {
    height: 303px;
    width: 470px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 222px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-line-1 {
    width: 360px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 380px;
  }

  .u-section-1 .u-image-1 {
    height: 232px;
    width: 360px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 322px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 570px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-line-1 {
    width: 340px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 359px;
  }

  .u-section-1 .u-image-1 {
    height: 219px;
    width: 340px;
  }
}